extends layout

block content
  h1= title
  input#is_sound_on(type='checkbox', checked='checked')
  |  Play sounds
  div#feed
  script.
    var socket = io.connect(!{socket_address});
    var audio  = new Audio('sounds/alert.mp3');

    socket.on("event", function (event_json) {
      var str = "";
      $.each(event_json, function(index, value) {
          str += "<b>"+index+"</b>: "+value+" &nbsp;";
      });
      str = "<div class='item'>"+str+"</div>";

      $("#feed").prepend(str);

      if($("#is_sound_on").is(':checked')) {
          audio.play();
      }
    });
